/* =========================
        GLOBAL RESET    
============================*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

img, picture {
    max-width: 100%;
    display: block;
}

/* =========================
        GLOBAL ELEMENTS    
============================*/
:root {
    --primary-accent: #3A3286;
    --primary-accent-dark: #2B2563; /* not used */
    --secondary-accent: #648381;
    --secondary-accent-light: #A6BBBA; /* not used */
    --primary-background: #FFFFFF;
    --alt-background: #F0EFF4;
    --font-dark: #2C2A33;
    --font-light: #ffffff;
    --error: #CC0000; /* not used */
}

body {
    min-height: 100vh;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    /* background-size: 5px 5px; */
    /* background-image: linear-gradient(to right, #3B328710 1px, transparent 1px), linear-gradient(to bottom, #3B328710 1px, transparent 1px); */
    /* background-attachment: fixed; */
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* background gradient & pattern */
    background-image: url("../images/TB_pattern-80opacity.svg"), linear-gradient(45deg,#648381 40%, #3A3286 90%);
    background-repeat: repeat, no-repeat;
    background-size: 24px 24px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, center;
    /* background-blend-mode: normal, multiply; */
    /* opacity: 1; */
}

main {
    flex: 1;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--font-dark);
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
}

p, a, li  {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: var(--font-dark)
}

/* BUTTONS */
.button {
    color: var(--primary-accent);
    background-color: var(--primary-background);
    border: 1px solid var(--primary-accent);
    border-radius: .5em;
    padding: 8px 16px;
    width: 107px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    align-self: center;
    text-align: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.button:hover {
    background-color: var(--primary-accent);
    color: var(--font-light);
}

/**** HEADER & NAV ****/
header {
    background-color: var(--primary-background);
    height: 70px;
    align-items: center;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: auto;
    max-width: 130px;
}

#menu-icon {
    display: inline-flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    z-index: 99;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    display: block;
    width: 32px;
    height: 3px;
    background-color: var(--font-dark);
    border-radius: 25px;
    transition: 0.4s ease;
}

.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
    background-color: var(--font-light);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
    background-color: var(--font-light);
}

#nav-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    height: 100%;
    padding: 100px 0 0 40px;
    background-color: var(--primary-accent);
    color: var(--font-light);
    transform: translateX(100%);
    z-index: 9;
    transition: 
        transform 0.3s,
        visibility 0s 0.3s;
}

#nav-menu.open {
    visibility: visible;
    transform: translateX(0);
    transition: transform 0.3s;
}

.no-scroll {
    overflow: hidden;
}

#nav-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nav-link {
    width: 180px;
    padding-bottom: .5em;
}

.nav-link a {
    color: var(--font-light);
    font-size: 1.5rem;
    display: inline-block;
    position: relative;
}

#current-page {
    border-bottom: 2px solid var(--alt-background);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition:
        opacity 0.3s,
        visibility 0s 0.3s;
    z-index: 0;
}

#overlay.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}

@media only screen and (min-width: 768px) {
    header {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header-container {
        width: 100%;
        max-width: 1200px;
    }

    #menu-icon {
        display: none;
    }

    #nav-menu {
        visibility: visible;
        position: relative;
        width: auto;
        padding: 0;
        align-items: center;
        transform: translateX(0);
        background-color: var(--primary-background);
    }

    #nav-links {
        flex-direction: row;
    }

    .nav-link {
        padding: 10px;
        width: auto;
    }

    .nav-link a {
        font-size: 1rem;
        color: var(--font-dark);
        padding-bottom: 4px;
    }
    
    .nav-link a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--primary-accent);
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }

    .nav-link a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    #current-page {
        border-bottom: none;
    }

    #current-page a {
        color: var(--primary-accent);
    }

}   /*  end 768px breakpoint  */

@media only screen and (min-width: 1240px) {

    .header-container {
        padding: 0;
    }

}   /*  end 1055px breakpoint  */

/**** FOOTER ****/
footer {
    font-size: 0.8rem;
    text-align: center;
    padding: 40px 0;
    background-color: var(--primary-background);
    border-top: 1px solid var(--alt-background);
}

.index-footer {
    border: none;
    padding: 20px 0 40px 0;
}

/* =============================
        INDEX PAGE CONTENT    
===============================*/
.index-page-container {
    display: flex;
    flex-direction: column;
}

/**** TITLE SECTION ****/
.title-banner {
    position: relative;
    display: flex;
    align-items: center;
    height: 78vh;
    color: var(--font-light);
    margin: auto;
    max-width: 1200px;
}

.inner-title-banner {
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
    width: 100%;
}

.title-banner-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.title-banner-icons {
    display: inline-flex;
    width: 80vw;
    max-width: 230px;
    justify-content: space-between;
    margin: auto;
    align-self: baseline;
}

.title-banner-icons a {
    color: var(--font-light);
    display: flex;
    align-items: center;
    transition: transform 0.2s;
}

.title-banner-icons a:hover {
    transform: translateY(-3px);
}

.title-banner h1, .title-banner p {
    color: var(--font-light);
    font-weight: 500;
}

.title-banner p {
    display: flex;
    max-width: 180px;
    margin: 0 0 10px 3px;
    text-align: left;
}

.title-banner .about-button {
    margin-top: 10px;
}

@media only screen and (min-width: 768px) {

    .title-banner {
        height: 80vh;
    }

    .title-banner-text {
        text-align: center;
    }

    .title-banner h1 {
        font-size: clamp(3rem, 5vw, 4rem) ;
    }

    .title-banner p {
        font-size: clamp(1.5rem, 2.5vw, 2rem);
        max-width: clamp(200px, 60%, 340px);
        text-align: center;
        margin: auto;
    }

    .title-banner .about-button {
        margin-top: 14px;
    }

    .title-banner-icons {
        width: 60%;
        min-width: 250px;
        max-width: 335px;
        align-self: center;
    }
    
    .title-banner-icons svg {
        width: 2em;
        height: auto;
    }

}   /*  end 768px breakpoint  */

/**** PROJECTS SECTION ****/
.index-projects-container {
    background-color: var(--primary-background);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1.5px solid var(--alt-background);
    
}

.heading-container {
    padding: 10px 0;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.index-projects-container .heading-container {
    margin-top: 20px;
}

.project-cards-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: .5em;
    background-color: var(--primary-background);
    transition: all 0.2s;
    width: 100%;
    max-width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.project-card:hover {
    box-shadow: #00000033 0px 2px 8px 0px;
}

.project-img img {
    border-radius: .5em .5em 0 0;
}

.project-desc {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-url-container {
    display: flex;
    flex-direction: row;
    gap: 45px;

}

.project-url {
    font-size: 14px;
    display: flex;
    gap: 6px;
    transition: color 0.2s;
    max-width: 220px;
}

.project-url:hover {
    color: var(--primary-accent);
}

.project-url span {
    display: flex;
    align-items: center;
}

.project-url a {
    padding: 4px 0;
    position: relative;
    display: inline-block;
}

.project-url a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-accent);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.project-url a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.project-url a:hover {
    color: var(--primary-accent);
}

.projects-button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0 30px 0;
}

.projects-button {
    background-color: var(--primary-accent);
    color: var(--font-light);
}

.projects-button:hover {
    background-color: var(--alt-background);
    color: var(--primary-accent);
}

@media only screen and (min-width: 768px) {

    .projects-container {
        padding: 30px 20px 30px 20px;
    }

    .project-card {
        width: 100%;
        max-width: none;
        flex-direction: row;
    }

    .project-img {
        flex: 1;
        flex-grow: 1;
    }

    .project-desc {
        flex: 1;
        flex-grow: 1.5;
    }

    .project-img img {
        border-radius: .5em 0 0 .5em;
        height: 100%;
        min-width: 332px;
        overflow: hidden;
    }

}   /*  end 768px breakpoint  */

@media only screen and (min-width: 1024px) {

    .projects-container .heading-container {
        width: 1200px;
        margin: auto;
    }

    .project-card {
        max-width: 1200px;
    }

}   /*  end 1024px breakpoint  */

/**** CONTACT SECTION ****/
.contact-container {
    background-color: var(--primary-background);
    margin-top: 50px;
    width: 100%;
    padding: 30px 0px 20px 0px;
    border-top: 1.5px solid var(--alt-background);
}

.inner-contact-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-container .heading-container {
    text-align: center;
}

.contact-links-container {
    margin: auto;
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
}

.contact-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    transition: color 0.3s;
}

.contact-link a {
    position: relative;
    display: inline-block;
    padding: 4px 0;
}

.contact-link a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-accent);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.contact-link a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ICON HOVER STYLES */
    .location:hover {
        color: #448481;
    }

    .email:hover {
        color: #c0350c;
    }

    .linkedin:hover {
        color: #0a66c2;
    }

    .github:hover {
        color: #2dba4e;
    }

    .dribbble:hover {
        color: #ea4c89;
    }

@media only screen and (min-width: 768px) {

    .contact-container {
        padding: 40px 20px 20px 20px;
    }

    .inner-contact-container {
        margin: auto;
        justify-content: space-between;
    }

    .contact-container .heading-container {
        padding-bottom: 5px;
    }

    .contact-links-container {
        width: 100%;
    }

    .contact-links {
        flex-direction: row;
        justify-content: space-between;
    }

}   /*  end 768px breakpoint  */


/* ===============================
       PROJECTS PAGE CONTENT    
=================================*/
.projects-container {
    background-color: var(--primary-background);
    padding: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: none;
    border-bottom: 1.5px solid var(--alt-background);
    margin-bottom: 50px;
}

.project-page-desc {
    background-color: var(--primary-background);
    width: 100%;
    padding: 20px;
    border-top: 1.5px solid var(--alt-background);
}

.inner-project-page-desc {
    max-width: 1200px;
    margin: auto;
}

.projects-page-container .project-card {
    max-width: 600px;
    height: auto;
}

.project-img {
    width: 100%;
    height: inherit;
    overflow-x: hidden;
    display: flex;
}

.project-img img {
    width: inherit;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow-x: hidden;
}

.project-desc .project-url {
    margin: 0.5em 0;
}

.project-desc-tools {
    margin: 10px 0;
}

.tool-list {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    flex-wrap: wrap;
}

.tool-item {
    border-radius: .5em;
    padding: 6px 8px;
    font-size: 14px;
    background-color: var(--alt-background);
}


@media only screen and (min-width: 560px) {


}   /*  end 560px breakpoint  */

@media only screen and (min-width: 768px) {

    .projects-page-container .project-cards-container {
        flex-direction: column;
    }

    .projects-page-container .project-card {
        max-width: 1200px;
    }

    .tool-list {
        gap: .8em;
    }

}   /*  end 768px breakpoint  */

@media only screen and (min-width: 768px) {

    .projects-page-container .project-card {
        flex-direction: row;
    }

    .project-img {
        flex: 1;
    }

    .project-desc {
        flex: 1.2;
    }

}   /*  end 768px breakpoint  */


/* ===============================
       ABOUT PAGE CONTENT    
=================================*/
.about-page-container .about-section {
    background-color: var(--primary-background);
    padding: 20px 20px 5px 20px;
    border-top: 1.5px solid var(--alt-background);

}

.inner-about-container {
    display: flex;
    flex-direction: column;
    gap: .6em;
    max-width: 1200px;
    margin: auto;
}

/**** CONTACT ME SECTION ****/
.contact-cta {
    background-color: var(--primary-background);
    padding: 20px;
    width: 100%;
}

.inner-contact-cta {
    display: flex;
    flex-direction: column;
    gap: .6em;
    margin: 0 auto .5em auto;
    text-align: center;
    max-width: 1200px;
}

.inner-contact-cta h2 {
    font-size: 1.3em;
}

.email.contact-link {
    margin: 5px 0;
    display: flex;
    justify-content: center;
    max-width: 210px;
}

@media only screen and (min-width: 480px) {

    .inner-contact-cta {
        text-align: left;
    }

    .email.contact-link {
        justify-content: start;
    }

}   /*  end 480px breakpoint  */


/**** SKILLSET SECTION ****/
.skills-section {
    background-color: var(--alt-background);
    padding: 20px;
    width: 100%;
}

.inner-skills-section {
    max-width: 1200px;
    margin: auto;
}

.inner-skills-section h2 {
    margin: 10px 0;
}

.skillsets-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.2em;
    margin: auto;
    margin-bottom: 1.5em;
}

.skill-collection h3 {
    margin: .6em 0;
    text-align: center;
}

.skill-icon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5em;
    max-width: 234px;
    margin: 1.2em auto 0 auto;
}

.skill-item {
    position: relative;
    display: flex;
    background-color: var(--primary-background);
    border: 1px solid var(--primary-background);
    border-radius: .5em;
    padding: 8px;
    width: 45px;
    height: 45px;
    text-align: center;
    align-items: center;
    margin: auto;
    justify-content: center;
}


.skill-name {
    visibility: hidden;
    background-color: var(--primary-accent);
    color: var(--font-light);
    text-align: center;
    padding: 4px 8px;
    position: absolute;
    z-index: 9;
    bottom: 120%;
    opacity: 0;
    border-radius: .5em;
    transition:
        opacity 0.3s,
        visibility 0.3s;
}

.skill-name::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: var(--primary-accent) transparent transparent transparent;
}

.skill-item:hover .skill-name {
    visibility: visible;
    opacity: 1;
}

.skill-item:hover .mongodb-icon svg {
    color: #00618a;
}

@media only screen and (min-width: 480px) {

    .skillsets-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5em;
    }

}   /*  end 480px breakpoint  */

@media only screen and (min-width: 1024px) {

    .skillsets-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .skill-icon-container {
        max-width: 220px;
    }

}   /*  end 1024px breakpoint  */


/**** EDUCATION SECTION ****/
.education-section {
    background-color: var(--primary-background);
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    border-bottom: 1.5px solid var(--alt-background);
}

.inner-education-container {
    max-width: 1200px;
    margin: auto;
}

.inner-education-container h2 {
    margin: 10px 0;
}

.education-cards {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    margin: 1.5em 0;
}

.education-card {
    padding: 1em;
    border: 1px solid var(--alt-background);
    border-radius: .5em;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edu-card-header {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    /* align-items: start; */
    gap: 12px;
    cursor: pointer;
}

.edu-card-header-top, .edu-card-header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.edu-card-header-top h3 {
    font-weight: 600;
    font-size: 1.2em;
}

.edu-card-header-top svg {
    transition: transform 0.3s;
}

.edu-card-header-bottom .course-title {
    font-weight: 500;
    font-size: 1.2em;
}

.edu-year {
    color: var(--font-dark);
    font-size: 14px;
}

.edu-card-desc {
    display: none;
    flex-direction: column;
    gap: 8px;
}

/* open state */
.education-card.open-accordion .edu-card-desc {
    display: flex;
}

.education-card.open-accordion .edu-card-header-top svg {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.education-card.open-accordion

.edu-links {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    gap: 12px;
}

.edu-link {
    min-width: 140px;
    max-width: 260px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.edu-link svg {
    margin-bottom: 4px;
}

.edu-link a span {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
}

.edu-link a span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-accent);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;    
}

.edu-link:hover a span::after {
    transform: scaleX(1);
    transform-origin: bottom left;    
}

.edu-link:hover svg {
    color: var(--primary-accent);
}

.edu-link:hover a span {
    color: var(--primary-accent);
}

@media only screen and (min-width: 580px) {

    .edu-links {
        flex-direction: row;
        justify-content: space-around;
    }

}   /*  end 480px breakpoint  */