/* =========================
        GLOBAL RESET    
============================*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

img, picture {
    max-width: 100%;
    display: block;
}

/* =========================
        GLOBAL ELEMENTS    
============================*/
:root {
    --primary-accent: #3A3286;
    --primary-accent-dark: #2B2563; /* not used */
    --secondary-accent: #648381;
    --secondary-accent-light: #A6BBBA; /* not used */
    --primary-background: #FFFFFF;
    --alt-background: #F0EFF4;
    --font-dark: #2C2A33;
    --font-light: #ffffff;
    --error: #CC0000; /* not used */
}

body {
    min-height: 100vh;
    font-size: 1rem;
    background-size: 5px 5px;
    background-image: linear-gradient(to right, #3B328710 1px, transparent 1px), linear-gradient(to bottom, #3B328710 1px, transparent 1px);
    background-attachment: fixed;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--font-dark);
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
}

p, a, li  {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: var(--font-dark)
}

/* BUTTONS */
.button {
    color: var(--primary-accent);
    background-color: var(--primary-background);
    border: 1px solid var(--primary-accent);
    border-radius: .5em;
    padding: 8px 16px;
    width: 107px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    align-self: center;
    text-align: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.button:hover {
    background-color: var(--primary-accent);
    color: var(--font-light);
}

/**** HEADER & NAV ****/
header {
    background-color: var(--primary-background);
    height: 70px;
    align-items: center;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: auto;
    max-width: 130px;
}

#menu-icon {
    display: inline-flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    z-index: 99;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    display: block;
    width: 32px;
    height: 3px;
    background-color: var(--font-dark);
    border-radius: 25px;
    transition: 0.4s ease;
}

.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
    background-color: var(--font-light);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
    background-color: var(--font-light);
}

#nav-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    height: 100%;
    padding: 100px 0 0 40px;
    background-color: var(--primary-accent);
    color: var(--font-light);
    transform: translateX(100%);
    z-index: 9;
    transition: 
        transform 0.3s,
        visibility 0s 0.3s;
}

#nav-menu.open {
    visibility: visible;
    transform: translateX(0);
    transition: transform 0.3s;
}

.no-scroll {
    height: 100vh;
    overflow: hidden;
}

#nav-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nav-link {
    width: 180px;
    padding-bottom: 10px;
}

.nav-link a {
    color: var(--font-light);
    font-size: 1.5rem;
}

#current-page {
    border-bottom: 1.5px solid var(--alt-background);
}

#current-page a {
    color: var(--alt-background);
}

@media only screen and (min-width: 768px) {
    header {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header-container {
        width: 100%;
        max-width: 1024px;
    }

    #menu-icon {
        display: none;
    }

    #nav-menu {
        visibility: visible;
        position: relative;
        width: auto;
        padding: 0;
        align-items: center;
        transform: translateX(0);
        background-color: var(--primary-background);
        
    }

    #nav-links {
        flex-direction: row;
    }

    .nav-link {
        padding: 10px;
        border-bottom: 1.5px solid transparent;
        transition: border-bottom 0.2s;
        width: auto;
    }

    .nav-link a {
        font-size: 1rem;
        color: var(--font-dark);
        padding-bottom: 4px;
    }
    
    .nav-link:hover {
        border-bottom: 1.5px solid var(--primary-accent);
    }

    .nav-link:hover a {
        color: var(--primary-accent);
    }

    #current-page {
        border-bottom: 1.5px solid var(--font-dark);
    }

    #current-page a {
        color: var(--font-dark);
    }

}   /*  end 768px breakpoint  */

@media only screen and (min-width: 1055px) {

    .header-container {
        padding: 0;
    }

}   /*  end 1055px breakpoint  */

/**** FOOTER ****/
footer {
    font-size: 0.8rem;
    text-align: center;
    padding: 10px 0;
    background-color: var(--primary-background);
}


/* =============================
        INDEX PAGE CONTENT    
===============================*/
.index-page-container {
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
}

/**** TITLE SECTION ****/
.title-banner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin: 5em 0;
}

.title-banner span {
    color: var(--secondary-accent);
    font-weight: 500;
}

.title-banner p {
    display: flex;
    max-width: 200px;
    margin: 0 26px 10px 0;
    text-align: left;
}

/**** PROJECTS SECTION ****/
.projects-container {
    background-color: var(--primary-background);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heading-container {
    padding: 10px 0;
}

.heading-desc {
    margin-top: 10px;
}

.project-cards-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
    background-color: var(--primary-background);
    transition: all 0.2s;
    width: 100%;
    max-width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.project-card:hover {
    box-shadow: #00000033 0px 2px 8px 0px;
}

.project-img img {
    border-radius: .5em .5em 0 0;
    width: 100%;
}

.project-desc {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-url {
    font-size: 14px;
    display: flex;
    gap: 0.4rem;
    transition: color 0.2s;
}

.project-url:hover {
    color: var(--primary-accent);
    width: 11.1rem;
}

.project-url span {
    display: flex;
    align-items: center;
}

.project-url a {
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
    transition:
        color 0.3s,
        border-bottom 0.2s;
}

.project-url a:hover {
    color: var(--primary-accent);
    border-bottom: 1px solid var(--primary-accent);
}

.projects-button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

@media only screen and (min-width: 768px) {

    .projects-container {
        padding: 30px 20px 30px 20px;
    }

    .project-card {
        width: 100%;
        max-width: none;
        flex-direction: row;
    }

    .project-img {
        flex: 1;
        flex-grow: 1;
    }

    .project-desc {
        flex: 1;
        flex-grow: 1.5;
    }

    .project-img img {
        border-radius: .5em 0 0 .5em;
        height: 100%;
        min-width: 332px;
        overflow: hidden;
    }

}   /*  end 768px breakpoint  */

@media only screen and (min-width: 1024px) {

    .projects-container .heading-container {
        width: 1024px;
        margin: auto;
    }

    .project-card {
        max-width: 1024px;
    }

}   /*  end 1024px breakpoint  */

/**** CONTACT SECTION ****/
.contact-container {
    background-color: var(--primary-background);
    margin-top: 50px;
    width: 100%;
    padding: 30px 0px 20px 0px;
}

.inner-contact-container {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-container .heading-container {
    text-align: center;
}

.contact-links-container {
    margin: auto;
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
}

.contact-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    transition: color 0.2s;
}

.contact-link a {
    border-bottom: 1.5px solid transparent;
    transition: border-bottom 0.2s;
}

/* ICON HOVER STYLES */
    .location:hover {
        color: #448481;
    }

    .email:hover {
        color: #c0350c;
    }

    .linkedin:hover {
        color: #0a66c2;
    }

    .github:hover {
        color: #2dba4e;
    }

    .dribbble:hover {
        color: #ea4c89;
    }

    .linkedin:hover a, .email:hover a, .github:hover a, .dribbble:hover a {
        border-bottom: 1.5px solid var(--font-dark);
    }

@media only screen and (min-width: 768px) {

    .contact-container {
        padding: 40px 20px 20px 20px;
    }

    .inner-contact-container {
        margin: auto;
        justify-content: space-between;
    }

    .contact-links-container {
        width: 100%;
    }

    .contact-links {
        flex-direction: row;
        justify-content: space-between;
    }

}   /*  end 768px breakpoint  */


/* ===============================
       PROJECTS PAGE CONTENT    
=================================*/
.project-page-desc {
    background-color: var(--primary-background);
    width: 100%;
    padding: 20px 0;
}

.inner-project-page-desc {
    max-width: 1024px;
    margin: auto;
}

.projects-page-container .project-card {
    max-width: 600px;
}

.project-desc .project-url {
    margin: 0.5em 0;
}

.project-desc-tools {
    margin: 10px 0;
}
.tool-list {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    flex-wrap: wrap;
}

.tool-item {
    border-radius: .5em;
    padding: 6px 8px;
    font-size: 14px;
    background-color: var(--alt-background);
}


@media only screen and (min-width: 560px) {


}   /*  end 560px breakpoint  */

@media only screen and (min-width: 768px) {

    .projects-page-container .project-cards-container {
        flex-direction: column;
    }

    .projects-page-container .project-card {
        max-width: 1024px;
    }

    .tool-list {
        gap: .8em;
    }

}   /*  end 768px breakpoint  */



/* ===============================
       ABOUT PAGE CONTENT    
=================================*/
.about-page-container .about-section {
    background-color: var(--primary-background);
    padding: 20px 20px 5px 20px;
}

.inner-about-container {
    display: flex;
    flex-direction: column;
    gap: .6em;
    max-width: 1024px;
    margin: auto;
}

/**** CONTACT ME SECTION ****/
.contact-cta {
    background-color: var(--primary-background);
    padding: 20px;
    width: 100%;
}

.inner-contact-cta {
    display: flex;
    flex-direction: column;
    gap: .6em;
    margin: auto;
    text-align: center;
    max-width: 1024px;
}

.inner-contact-cta h2 {
    font-size: 1.3em;
}

.email.contact-link {
    margin: 5px 0;
    display: flex;
    justify-content: center;
    max-width: 210px;
}

@media only screen and (min-width: 480px) {

    .inner-contact-cta {
        text-align: left;
    }

    .email.contact-link {
        justify-content: start;
    }

}   /*  end 480px breakpoint  */


/**** SKILLSET SECTION ****/
.skills-section {
    background-color: var(--alt-background);
    padding: 20px;
    width: 100%;
}

.inner-skills-section {
    max-width: 1024px;
    margin: auto;
}

.inner-skills-section h2 {
    margin: 10px 0;
}

.skillsets-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.2em;
    margin: auto;
    margin-bottom: 1.5em;
}

.skill-collection h3 {
    margin: .6em 0;
    text-align: center;
}

.skill-icon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5em;
    max-width: 234px;
    margin: auto;
}

.skill-item {
    position: relative;
    display: flex;
    background-color: var(--primary-background);
    border: 1px solid var(--primary-background);
    border-radius: .5em;
    padding: 8px;
    width: 45px;
    height: 45px;
    text-align: center;
    align-items: center;
    margin: auto;
    justify-content: center;
}


.skill-name {
    visibility: hidden;
    background-color: var(--primary-accent);
    color: var(--font-light);
    text-align: center;
    padding: 4px 8px;
    position: absolute;
    z-index: 9;
    bottom: 120%;
    opacity: 0;
    border-radius: .5em;
    transition:
        opacity 0.3s,
        visibility 0.3s;
}

.skill-name::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: var(--primary-accent) transparent transparent transparent;
}

.skill-item:hover .skill-name {
    visibility: visible;
    opacity: 1;
}

.skill-item:hover .mongodb-icon svg {
    color: #00618a;
}

@media only screen and (min-width: 480px) {

    .skillsets-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5em;
    }

}   /*  end 480px breakpoint  */

@media only screen and (min-width: 1024px) {

    .skillsets-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .skill-icon-container {
        max-width: 220px;
    }

}   /*  end 1024px breakpoint  */


/**** EDUCATION SECTION ****/
.education-section {
    background-color: var(--primary-background);
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
}

.inner-education-container {
    max-width: 1024px;
    margin: auto;
}

.inner-education-container h2 {
    margin: 10px 0;
}

.education-cards {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 1.5em 0;
}

.education-card {
    padding: 1em;
    border: 1px solid var(--alt-background);
    border-radius: .5em;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: .2em;
}

.edu-card-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.edu-card-header h3 {
    font-weight: 500;
    font-size: 1.2em;
}

.edu-card-header .edu-year {
    color: #5f5b6f;
    font-size: 14px;
}

.edu-card-desc {
    display: flex;
    flex-direction: column;
    gap: .4em;
}

.edu-card-desc .edu-course-title {
    font-weight: 600;
}